---
title: '5 things you need to do to lower your insulin levels naturally'
date: 'April 19, 2021'
excerpt: 'We know one of the key drivers of weight gain is raised insulin levels. Let’s see five ways to achieve and maintain lower insulin levels completely naturally. No medications or supplements involved.'
category: 'Health'
tags: [
"exercise","fasting","GLUT4","health","high intensity interval training","hormones","insulin","insulin resistance","intermittent fasting","leptin","lifestyle","low carb","nutrition","resistance training","sleep","stress","weight loss"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/total-shape-p7nwvfcjk-I-unsplash-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/total-shape-p7nwvfcjk-I-unsplash-scaled.webp'
---

We know one of the key drivers of weight gain is raised insulin levels. Let’s see five ways to achieve and maintain lower insulin levels completely naturally. No medications or supplements involved.

## 1\. A well-formulated low carbohydrate diet

When we look at the overall scientific studies about weight loss, low carbohydrate diets consistently outperform low-fat diets. And that’s not a surprise. Carbohydrates are the main nutrient that promotes the release of insulin in our bodies. If you eat carbohydrates, your blood sugar level rises, your pancreas produces insulin in order to drive glucose into the cells and bring blood glucose levels back to normal again.

Carbohydrates can be found in the form of sugar, high fructose corn syrup which is added to drinks or to foods during the manufacturing process. But carbohydrates are also found in high quantities in foods like potatoes, rice, pasta, bread, noodles, crackers – basically lots of white or cream-colored foods.

Starch is just long chains of glucose molecules strung together, and whenever you consume starch, your body just breaks down this starch into glucose. This in turn raises your blood glucose levels. Maybe, not as quickly as sugar does, but it raises them all the same. The good news is that carbohydrates are not an essential nutrient for life. In fact, we are designed to survive without taking in any carbohydrates in our diet. We can make all the glucose we need within our bodies.

We can also get a small amount of glucose from non-starchy vegetables, things like broccoli, cauliflower, leafy greens, beans, etc. There are loads of different vegetables like that. I’m not advocating a no-carb diet, just one that is low. Low means different things to different people. Everyone has a different tolerance to the amount of carbohydrates they can consume. Your tolerance will be different from mine. But it must be a well-formulated low carbohydrate diet.

There is definitely a right and a wrong way to approach low-carb diets, particularly if you want to make them sustainable for the longer term. When done correctly, a low-carb diet will lead to low insulin levels which will allow you to use your own fat for energy. This in turn will lead to decreased hunger, meaning you naturally want to take in less food. I’m an advocate of low-carb diets that are predominantly [unprocessed foods](https://healthootopia.com/health/the-best-foods-for-insulin-resistance/) with an adequate amount of protein supplemented with healthy fats.

## 2\. Fasting

All foods stimulate the production of insulin to a certain extent. While a well-formulated low-carb diet will keep insulin levels to a minimum, the second way to keep your insulin levels naturally low is to introduce fasting into your diet.

Fasting is the opposite of feeding. Insulin levels are naturally low when you’re fasting. We all do it every night for at least 10 hours and then break that fast in the morning. Hence break fast- “_breakfast_”.

Fasting has also been a part of many cultures throughout human history. Whilst fasting days have largely disappeared from Western culture, many people around the world still observe fasting days for religious reasons.

By extending the time we spend in the fasting state, we lower insulin levels. This leads to longer periods where our bodies are able to access our own stored fat for energy. It doesn’t mean we’re simply starving ourselves. E.g. Many people don’t eat breakfast. So rather than having a high carb breakfast cereal as most people do, people who skip breakfast have low insulin levels in the morning and their bodies are just running on their own fat stores.

Now some of you reading this will be thinking, “Yeah, I could do that. I am not really hungry in the mornings.” And others will be going, “No, I cannot do that.” Which category are you in? Let me know in the comments below.

We’ve all been told that breakfast is the most important meal of the day. But is that really true? Or is it just something that we’ve been told by the food industry to get us to eat breakfast cereal?

Fasting can sound pretty scary, but there is a lot we can do to make it much easier. Many people quite naturally fall into a pattern of fasting after being on a low-carb diet. This is because they don’t feel hungry in the mornings anymore.

## 3\. Exercise

Exercise is fantastic in so many ways. But when it comes to weight loss, there are some effects of exercise that I think is far more important than just burning calories. On that note, think about it, have you ever been hungry after exercise? Of course. You burn more energy and your hunger increases to compensate for it. Hunger is just your body’s way of trying to correct the imbalance that you’ve created. And it might not be immediate, it might be days or weeks over which it corrects that imbalance.

There are two important things regarding exercise. Firstly, exercise increases the sensitivity of muscles to the effects of insulin. You need less insulin to take up the same amount of glucose. Secondly, exercise allows our muscles to use glucose without the need for insulin. It’s amazing.

One of the effects of exercise is to facilitate the transporters, i.e. GLUT4 within the muscle and fat cells responsible for glucose transport, [without the need for insulin](https://pubmed.ncbi.nlm.nih.gov/23899560/#:~:text=Exercise%20training%20is%20the%20most,training%20in%20health%20and%20disease.). After exercise glucose just gets taken up by the muscle tissue without the need for insulin to ever be produced.

Resistance training, lifting heavy weights, and short bursts of high-intensity exercise are particularly good for activating these important metabolic effects of exercise.

## 4\. Reduce stress

A little bit of stress can be a good thing. It prepares our body for action by doing things that are raising blood glucose levels. In short bursts and at the right time, stress is normal. But being stressed for long periods of time will cause persistently raised blood glucose which will mean that your body needs to produce more insulin in order to respond.

We’re not designed to live in a constant state of stress. And if you are, then this could seriously undermine your weight loss efforts.

I can’t give you a one size fits all method to reduce stress. The causes of stress are different for everyone, but it is an important piece of the weight loss puzzle that is often overlooked. And can prevent weight loss even when you’re doing all the other stuff correctly.

## 5\. Sleep well

There’s a reason for people who work night shifts are significantly more likely to be obese than people who don’t. Sleep deprivation raises blood glucose levels. You’re putting your body under stress and your body will produce more insulin in response to this.

It also affects other hormonal systems. It reduces the amount of leptin, one of the hormones that controls our hunger. We’re more hungry after a poor night’s sleep and we make better decisions about nutrition when we’re not tired.

I remember as a junior doctor doing long shifts at the hospital. I used to make terrible decisions about food, mainly because I was exhausted.

If you’re serious about weight loss, then you must make getting enough sleep a priority. We often say eight hours is optimal. However, some people need more, some need less. Really you need what you need. You might be able to get away with sleep deprivation in the short term, but longer-term it will catch up with you.

Now, these are not only my five tips for reducing insulin levels naturally for weight loss. These are really five foundational principles that I think are the most important lifestyle factors you can change for the better – for your good health.

**_Which one of these five areas you would like to change first? Comment below._**
