---
title: 'All You Need To Know About Intermittent Fasting: The How, When, Who and Benefits of Intermittent Fasting'
date: 'June 15, 2021'
excerpt: "Intermittent fasting has become quite popular, with every other person you encounter these days telling you that they have tried it at some point. But do you know the science behind it and how it benefits your health?"
category: 'Health'
tags: [
"benefits of intermittent fasting","diabetes","diabetes mellitus","fasted cardio","health","how intermittent fasting helps with insulin resistance","how to do intermittent fasting","insulin","insulin resistance","intermittent fasting","intermittent fasting for diabetics","lose fat retain muscle mass with intermittent fasting","PCOS","reverse insulin resistance","type 1 diabetes","type 2 diabetes","who should not do intermittent fasting"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/wesual-click-sEGWnVTmLuk-unsplash-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/wesual-click-sEGWnVTmLuk-unsplash-scaled.webp'
---

Intermittent fasting has become quite popular, with every other person you encounter these days telling you that they have tried it at some point. But do you know the science behind it and how it benefits your health? Do you know how it can be quite dangerous in diabetics if not done properly? After reading this article you are going to know a lot about intermittent fasting and you’re going to be very well prepared for intermittent fasting if you’re diabetic or not.

Let’s take a look at what it is and what it is not, what happens in your body when you fast intermittently, and why you should do this. These things are extremely important for you to understand. If you’re doing it without understanding what’s going on, you will not be able to stick with it.

How to deal with side effects such as irritability or mood problems when you’re fasting? We always tell people to exercise when they are trying to lose weight. Can you really exercise when you’re hungry and weak?

We’re going to look at that as well and then take a look at how diabetics should do intermittent fasting. What happens if you’re on insulin? What happens if you’re on some oral hypoglycemic agents? Isn’t your blood sugar going to crash? Who should not do intermittent fasting? These are important questions that we will be answering in this article.

## What is intermittent fasting?

Basically, you are fasting a long time. When you go for a blood test you typically fast 8-12 hours. With intermittent fasting, we are talking about 16-20 hours of fasting a day. Now that sounds very intimidating but it’s actually not that difficult and I’ll explain to you why.

It is not fasting for 2-3 days. That’s going to really make you weak and you can actually get the benefits of fasting just by fasting for 16 hours. That includes drinking fluids not just dry fasting for 16 hours. You can make your own rules. You can fast 16 hours at any time during the 24 hours depending on your schedule, depending on your eating habits. You are giving yourself 8 hours of eating period. Some people do 20 hours of fasting and they do four hours of eating. So whatever works for you.

There’s another point. You cannot just binge on food after 16 hours of fasting. We have to still control our calories. So we have to make sure that we are restricting our calories significantly during the days of intermittent fasting. This of course does not mean severe calorie restriction. It means that you should not exceed the daily calorie requirement for your body. There are different rules around this. Some people do 5-2 which is 2 days of fasting out of seven days in a week. Some people do 3 days of fasting and 4 days of regular eating.

## Do you know what’s the difference between cutting calories or counting calories; the difference between very limited calorie diets versus intermittent fasting?

There is actually a major difference. Studies show that if you are fasting 16 hours a day or more up to 20 hours, 2-3 times a week your insulin resistance will dramatically improve and you may actually go into diabetes remission. Now studies show that people who reduce their calories but who are just eating every 3-4 hours or more frequently do not improve their insulin resistance. They might be eating very few calories, they lose weight but their insulin resistance and remission from diabetes do not necessarily happen in all cases.

So it has been proven that eating pretty much nothing and just drinking non-caloric beverages during that 16 hours fasting period or 16-20 hours a day, 2-3 times a week you gain major benefits. You do not need to fast the entire week. If you just do that two days out of seven days you are going to reap the benefits. You can pick the days you’re not super busy or you’re not very active; where you’re just chilling and relaxing. But make sure that on those days you set yourself a goal and say that I’m not going to eat anything for 16-20 hours and you’re going to see a dramatic improvement in your insulin resistance.

You’re going to be surprised by the results. On the other days, you can still continue to eat. What is more interesting, studies also show that even if you don’t lose weight at all by fasting 2 or 3 days a week, even then your insulin resistance will improve, and even then you’re going to lose belly fat. Another major thing about intermittent fasting is that muscle loss is very minimal compared to reducing your calories overall.

If you are actually doing 16 to 20 hours of fasting twice a week, you are going to keep your muscles and you are going to lose belly fat. For men that means six-packs and for diabetics that means that you are not going to have to take many medications or you will not have to take insulin anymore.

Again this is not starvation for a long time. You’re just doing that twice a week, for 16-20 hours. I think that’s a good bargain for a diabetic because I’m not necessarily asking you to cut everything and fast every day. Just do that twice a week and you will see the difference.

## What happens to your body when you fast?

Your body is burning the glucose in the first 8-12 hours and then you start burning fatty acids. Now your muscles are full of triglycerides. So if you are eating on a regular day, that glucose goes to your muscles. If this glucose is not used by your muscles and if you’re not physically very active, then that’s going to turn into triglycerides which is a form of fat. With intermittent fasting, triglycerides are being used in a fasting state. So once you deplete the glycogen stores in your muscles then your body starts using the triglycerides that turn into fatty acids and the fatty acids turn into ketone bodies. Then you start burning ketones.

The ketones are not necessarily just a breakdown of fatty acids but the ketone bodies have a lot of major functions in the body. Ketone bodies are like your [housekeeper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5313038/#:~:text=Apart%20from%20serving%20as%20energy,of%20inflammation%20and%20oxidative%20stress.). When the ketones are around they’re like police officers. They go and stimulate certain proteins and molecules in the body to repair the damage.

So think about this, you are working 8 hours a day and you’re resting 16 hours. So if you worked 16 hours a day every day what would happen? You would burn out. So the reason you’re only working 8 hours a day and the rest of the time you’re resting is that your body has to recover from the stress of the work, from the tiredness, from all the muscle activity or brain activity.

In exactly the same manner your body needs a break from eating because every time you eat, you’re introducing potentially toxic chemicals. They create oxidative stress and generate free radicals. These free radicals have to be cleared.

Your cells have to regenerate. They employ autophagy to do this which means that your cells are killing themselves so that the new ones come in and replace the old ones so that your body can continue to function. Ketone bodies help to regulate this system. The ketone bodies also create molecules such as adiponectin and reduce TNF-alpha. They make good hormones in your body and reduce the bad cytokines.

Ketone bodies create a stress response to make sure that you’re protected. They create a stress response in the body. As a result, the inflammation goes down in the body and you are ready for the further attack that can come from the environment. We know that ketones help epilepsy patients, patients with rheumatoid arthritis or inflammatory arthritis, or other inflammatory diseases.

You need to understand that diabetes and insulin resistance is an inflammatory state. e.g. When you’re overweight the adiponectin levels go down and your inflammation levels go up, your fat cells are creating a lot of inflammation when they are too full. If you’re not using these ketone bodies the inflammation levels in your body go up. The moment you go into fasting then suddenly the ketone bodies are repairing the inflammation and when the inflammation goes down what happens is your [insulin resistance](https://healthootopia.com/health/insulin-resistance-cause-symptoms-and-prevention/) improves and the [endothelial dysfunction](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5852826/) (endothelial cells are cells lining your blood vessels) also is repaired. This means that the risk of cardiovascular disease will also go down.

You need to let your body rest and recover from the oxidative stress, from the damage from the environmental factors. That’s what your ketone bodies are doing. But if you’re constantly eating and not letting ketogenesis happen so that the repair can happen, then you’re constantly under attack. As a result, patients who are constantly eating and not fasting for a prolonged amount of time end up being insulin resistant. They end up being obese or overweight and the same patients are more likely to have cancer. They’re more likely to have inflammatory disorders. So that’s what happens in your body when you fast.

## How do you deal with the irritability and mental fog when you first start intermittent fasting?

When you fast for 16 hours you are going to be irritable, you are going to feel weak, you are going to have a bit of mental fog. But that is going to go away. When you start exercising, and the next thing you feel like, “Oh my god, I’m dying, my energy is drained.” You feel like you need to sleep all the time but then if you keep going, the energy will come, your body will adapt. Your body is so used to having so much food, having plenty of calories all the time. The moment you starve your body, it’s not any different than an alcoholic going through an alcohol withdrawal or a smoker stopping smoking.

Of course, you’re not going to feel good and it’s not easy but once you go through it, you’re going to be a new person. When you quit too much processed sugars you’re a new person. Once you start fasting and your body turns into something totally different, you start getting energy. This typically happens around 2-4 weeks so you have to be patient for the side effects to go away.

In the meantime, you’re going to be irritable. You’re not going to be too nice but you have to understand and you have to control yourself. You have to realize that it’s your body and that you’re going through this. But you don’t have to put other people through the same stress. You can always explain to people around you and say,” Hey look, I’m fasting. I’m sorry if I’m being mean or if I’m irritable but it’s going to go away. So please bear with me.”

The other thing you need to make sure of is that you’re occupied. Because if you sit down and think about food, that’s not going to be good for you. It’s not going to be good for anybody. Don’t drink too much coffee because that can actually add to the irritability. You can drink some teas that actually can help with calming your mood. It can be chamomile tea or whatever tea you prefer. The major problems are going to be headaches and tiredness. But once you go through that after a couple of times, say 2-4 weeks it’s going to be a breeze.

## Can you exercise while fasting?

Yes, you can. You have to be careful especially when you first start your fasting. You want to take it easy. So you can definitely exercise but what I would suggest is you start slow. Make sure you stay hydrated and listen to your body. You can do milder cardio workouts. It definitely is going to help you a lot because you’re already burning fat and if you are doing some sort of cardio exercise, that’s going to be very useful.

In terms of resistance training, it may not be the best time to lift because your muscles are totally depleted of glycogen. Typically with resistance exercises, you are using the glycogen in your muscles. So your performance is going to be very limited. What I would suggest is you do your lifting in the fed state. You can lift maybe 2 hours after eating when your muscles have glycogen again. But I would not recommend resistance training during the fasting period.

## How do you do intermittent fasting when you have diabetes?

If you are diabetic and if you’re going to do intermittent fasting, make sure you talk to your endocrinologist. I cannot really tell you exactly what to do in your personal case. But I can tell you this, if you are on mealtime short-acting or fast-acting insulin, you have to be very very careful. You don’t want to take short-acting or fast-acting insulin when you’re not eating. That’s going to go give you severe hypoglycemia or low blood sugar.

If you’re on long-acting insulin you have to be also very careful because your insulin resistance will go down dramatically. You have to really monitor your blood sugar levels very closely.

On those days that you’re going to fast for 16 -18 hours or 20 hours, you have to really reduce the basal insulin. You really need to make sure that your blood sugars are staying stable. Totally stopping the basal insulin is not a good idea. Patients with diabetes due to insulin resistance need some insulin at baseline so that their liver is not making too much sugar.

Type 1 diabetics can do that too but they have to be very careful with basal insulin. Many people don’t understand the role of basal insulin. The role of basal insulin is to keep your blood sugar stable. If your blood sugar is going down while you’re fasting that means that you’re on too much basal insulin. That’s a good way of understanding how much basal insulin you should be taking. If you go to bed with 150 mg/dl of blood sugar and you’re waking up with 70 mg/dl, you’re on way too much basal insulin. This is because that basal insulin is dragging your blood sugar levels down overnight.

You need to learn to stay stable with any basal insulin. As your insulin resistance improves, you’re going to need less and less basal insulin. Maybe you will not even need basal insulin after a certain period of time. That’s the whole point of doing intermittent fasting. But only if you are careful enough with monitoring your blood sugar.

If you have one of those continuous glucose monitors, that’s going to help you a lot because they’re going to alert you. That way you can stay on top of your blood sugar levels and preferably reduce your basal insulin at least on those days that you are fasting.

If you’re on glipizide, glyburide, glimepiride, or other sulfonylureas, you cannot take a sulfonylurea and start your fast. This is because, from the time you take glipizide or glimepiride, your insulin is going to increase. It is designed for people who eat. If you are not going to eat, do not take your sulfonylurea. Now on the other hand, sometimes if you don’t take it at all, your blood sugar may steadily go up a little bit.

That means that you may want to manage your diabetes with an insulin sensitizer or with basal insulin. Because basal insulin absorption, once it is injected, is more predictable than a sulfonylurea (glipizide or glimepiride). With sulfonylureas, we usually don’t know how much insulin you’re going to make at that point. So they are riskier for patients who are doing intermittent fasting.

If you’re not on a sulfonylurea or on basal insulin then you’re okay. As long as you’re on a glucagon-like peptide receptor 1 (GLP-1) agonist such as semaglutide (Ozempic, Rybelsus), dulaglutide (Trulicity), or liraglutide (Victoza), they don’t really drop your blood sugar. So you can still take those medications to regulate your blood sugar levels if your blood sugar is going up without taking them. Some GLP-1 agonists are weekly like for example if you’re on Ozempic, you take that once a week. Since you take it in your system for a week you cannot really take it back out. But the good thing is unless you take another insulin or sulfonylurea, your blood sugar on Ozempic only is not going to drop.

Metformin is another medication that does not necessarily drop your blood sugar levels. It can but it’s very rare. The GLP-1 agonists are good as are sodium-glucose transport protein 2 (SGLT2) inhibitors for diabetics who do intermittent fasting. They are fairly safe to use during intermittent fasting.

But there’s no point in actually taking these pills because what they do is they make you urinate the extra blood sugar. So unless your blood sugar is already running constantly high and if you can bring your blood sugar down to a reasonable level, you don’t necessarily have to take them. Since you’re not going to be eating, your blood sugar is not going to spike. So unless your blood sugar levels are 150 to 200 mg/dl even when you’re fasting, only then take it.

The SGLT2 class includes dapagliflozin (Farxiga) and canagliflozin (Invokana). These medications are fairly safe to use during intermittent fasting. If you’re on pioglitazone that is also safe to be on during intermittent fasting.

These are the major things that people use for diabetes management. But the main thing you have to remember is that insulin and sulfonylureas are the two classes of drugs that can rapidly lower your blood sugars when you’re fasting. So make sure you consult with an endocrinologist to adjust your medications if you’re going to take this approach. When you’re doing the monitoring yourself there’s a good chance of error there as well.

## Who should not really fast?

If you’re pregnant don’t do it. If you’re on multiple daily injections as in type 1 diabetes, you can do it but you have to be extremely careful. If you are taking medications that need to be taken with food, it can prevent you from doing intermittent fasting. If you have high uric acid that can also trigger some attacks occasionally. But for most people, intermittent fasting is very safe.

So there it is. You now know all about intermittent fasting, how to go about it, and what precautions to take. You can now safely start your intermittent fasting journey if you haven’t already and reap the benefits.

**Did you find my article “**All You Need To Know About Intermittent Fasting: The How, When, Who and Benefits of Intermittent Fasting**” helpful or know somebody who would? I’d really love it if you could share it.**
