---
title: 'Delayed Onset Muscle Soreness (DOMS)-What Causes It and How You Can Manage It'
date: 'January 29, 2022'
excerpt: "Delayed onset muscle soreness (DOMS) is basically pain or discomfort felt 24 to 72 hours after intense exercise or after unaccustomed physical activity. It is usually some activity our body is not used to."
category: 'Fitness'
tags: [
"diabetes","DOMS","endurance","exercise","health","insulin resistance","lactic acid","muscle soreness","PCOS","prediabetes","recovery","rest day","stamina","strength","weight loss"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/pexels-the-lazy-artist-gallery-2247179-1-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/pexels-the-lazy-artist-gallery-2247179-1-scaled.webp'
---

Delayed onset muscle soreness (DOMS) is basically pain or discomfort felt 24 to 72 hours after intense exercise or after unaccustomed physical activity. It is usually some activity our body is not used to.

DOMS can manifest as muscle soreness or muscles that feel tender to the touch. Other ways that DOMS can show up is reduced range of motion or stiffness, swelling in the affected muscles, muscle fatigue, and a short-term loss of muscle strength.

It is okay to feel a little sore after a workout but if you are experiencing severe soreness, or even pain during that time after a workout-decreasing the intensity of our workouts a little can help. If this is a consistent thing, we need to consider not pushing ourselves too hard to help prevent over training which can later lead to injuries such as [stress fractures](https://www.mayoclinic.org/diseases-conditions/stress-fractures/symptoms-causes/syc-20354057), muscle strain, joint pain, or even emotional fatigue.

If you find that you are experiencing DOMS more often lately, you may want to consider what is going on outside of your workout regimen as well. There are many factors that can play into why your body is not performing as optimally as it should.

These factors include sleep habits, diet, stress levels, and your physical abilities. To put this into perspective, if you had an intense leg exercise session on Monday, and you are sore Tuesday and Wednesday, you should probably hold off working out those legs again until Thursday. It doesn’t make sense to exercise vigorously when you are still sore from your previous workout.

You see, high intensity exercise can cause tiny microscopic tears in our muscle fibers. Our bodies respond to this damage by increasing inflammation which leads to DOMS. We need to give these muscles the chance to recover.

## What Should You Do If You Are Experiencing DOMS?

This is where rest and recovery come into play. The most important thing that we need to do is listen to our bodies. You know when you need to take a rest day and need to give your muscles and mind a little break. I suggest you incorporate a lighter workout every 3 to 5 days.

## What Is a Rest Day?

Well, I want to emphasize that a rest day does not mean that we sit on our sofas and watch TV all day. Movement is still essential on a rest day. Movement on a rest day is not the moderate to vigorous activity you perform on your typical training day.

In fact, movement at a lighter intensity can actually help relieve some of the intense soreness a little faster. Good examples of moving on a rest day include yoga, cycling, walking, or even swimming at a lighter intensity.

A lighter intensity activity followed by some self-myofascial release (SMR)-think foam rolling, is ideal.

A few other things to help relieve that soreness a little faster include proper hydration, ensuring you are consuming foods that will help with the recovery process (ideally a source of carbohydrate and protein).

Last but not least, we want to ensure that we are sleeping well and giving our bodies substantial time to recover.

## Can You Prevent DOMS?

There is no direct way to prevent DOMS but incorporating a proper warm-up and cool down can potentially help lower your chance of developing intense DOMS.

DOMS is not an indication that you had an awesome workout. When done correctly, your body should actually be adapting to your workouts over time. If you are experiencing DOMS all the time, we need to reconsider and actually look at our exercise regimen and see how we are working out and maybe tone that down a little.

Everyone experiences a little DOMS every now and again, but it is important that we listen to our body and allow for recovery when needed.

As always you know your body best. [Fitness goals](https://healthootopia.com/fitness/16-benefits-of-squats/) are always there to challenge you but we need to know how to adjust things to make your exercise program as successful as possible.

I hope you learned something new today.

**Did you find my article **“Delayed Onset Muscle Soreness (DOMS)-What Causes It and How You Can Manage It**” helpful or know somebody who would? I’d really love it if you could share it.**
