---
title: 'How stress and depression affect the immune system'
date: 'May 2, 2021'
excerpt: "In this post, we’re going to take a look at psychoneuroimmunology and depression (major depressive disorder). We’re going to look at how depression (major depressive disorder) and stress can affect the immune system, how the immune system can impact a person’s mental health and increase the risk for having depression."
category: 'Health'
tags: [
"depression","health","immune system","immunity","major depressive disorder","mental health","psychiatry","stress"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/claudia-wolff-owBcefxgrIE-unsplash-1-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/claudia-wolff-owBcefxgrIE-unsplash-1-scaled.webp'
---

In this post, we’re going to take a look at psychoneuroimmunology and depression (major depressive disorder). We’re going to look at how depression (major depressive disorder) and stress can affect the immune system, how the immune system can impact a person’s mental health and increase the risk for having depression.

## What is psychoneuroimmunology?

Psychoneuroimmunology is a study of how psychiatric health impacts immune system function. This idea of how mental health can impact the immune system has come about in the last two decades. There have been three large meta-analyses that have shown that cellular and humoral immunity are dysfunctional in patients with major depression.

[Herbert and Cohen, 1993](https://www.cmu.edu/dietrich/psychology/stress-immunity-disease-lab/publications/psychoneuroimmunology-including-common-coldcancer/pdf/encyclo94.pdf) and [Zorilla _et al.,_ 2001](https://pubmed.ncbi.nlm.nih.gov/11566046/), both showed decreased T-cell function and decreased natural killer cell activity in depressed patients. More recently, [Dowlati _et al._, 2010](https://pubmed.ncbi.nlm.nih.gov/20015486/), demonstrated that interleukin, specifically interleukin 6 (IL-6) and tumor necrosis factor (TNF)were significantly increased in depressed patients. So it seems that studies that demonstrate immunological dysfunction in depressed patients are related to an aberrant stress signaling mechanism.

## What is depression (major depressive disorder) and how do we diagnose it?

Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think, and how you act. Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of interest in activities you once enjoyed. It can lead to a variety of emotional and physical problems and can decrease your ability to function at work and at home. ([1](https://www.psychiatry.org/patients-families/depression/what-is-depression))

To diagnose of depression, we need five or more of the following with at least M and/or I for at least two weeks.

1.  M- Mood (low)
2.  S- Sleep disturbances
3.  I- Interest loss
4.  G- Guilt or hopelessness
5.  E- Energy (low), fatigue
6.  C- Concentration difficulties
7.  A- Appetite changes
8.  P-Psychomotor retardation
9.  S-Suicidality

So if we haven’t we don’t have a low mood and loss of interest for at least two weeks, we can’t even consider making the diagnosis of depression. Medical conditions (e.g., thyroid problems, a brain tumor, or vitamin deficiency) can mimic symptoms of depression so it is important to rule out general medical causes.

The idea of how depression affects the immune system is that depression leads to decreased stress threshold which in turn leads to the patient experiencing more stress. Increased stress, increases stress cytokines which lead to alterations in immune cell functioning. This is the basic schematic of how depression might alter immune cell function. So the depression decreases our stress threshold to things that normally wouldn’t have made us stressed or bothered or anxious. Now patients with depression are stressed more often and they’re stressed even more severely. This heightened stress and long duration of stress will lead to abnormalities in immune cell function.

![flowchart](/images/posts/flowchart.webp)

<center>
  <small>**Depression causes alterations in immune function**</small>
</center>

The stress threshold and the resulting stress itself can be altered and can be impacted and changed by several different things in a person’s life. Coping methods, social support, and gender can all alter the stress threshold and alter the resulting stress.

## How does increased stress lead to immunomodulation?

In the brain, if we have increased stress, we have an increase in corticotropin-releasing factor (CRF). This leads to an activation of the hypothalamic-pituitary-adrenal (HPA) axis. HPA axis leads to ACTH release from the anterior pituitary gland leading to the adrenal gland releasing cortisol. So we get hypercortisolemia. The hypercortisolemia over time can decrease T-cell function and natural killer cell activity. The increased CRF also activates the sympathetic nervous system which releases norepinephrine. The CRF also activates microglial cells. The sympathetic nervous system and the norepinephrine that’s been activated also leads to microglial cell activation.

![The HPA axis in depression](/images/posts/depression_-_the_hpa_axis_in_depression-scaled.webp)

<center>
  <small>
    **[The HPA axis in
    depression](https://institute.progress.im/en/content/hypothalamic-pituitary-adrenal-hpa-axis-depression)**
  </small>
</center>

The microglial cells then activate macrophages. Norepinephrine also helps in activating these macrophages. With increased macrophage activation we get increases in immune cytokines. These include tumor necrosis factor, IL-1, IL-2, and IL-6.

## Do changes in the immune system increase your risk for depression?

Some evidence appears to indicate that changes in immunological functioning increase susceptibility to major depressive disorder. [Quan & Banks](https://pubmed.ncbi.nlm.nih.gov/17604598/) in 2007, showed that over 45 percent of patients administered interferon-alpha (IFN-α) develop symptoms of major depressive disorder. These symptoms are reversed once treatment is stopped.

So they give the patients an immunocytokine – interferon-alpha (IFN-α) and then they show that these patients develop symptoms of depression. Once they’ve actually removed the interferon, their symptoms of depression actually stop.

There’s also been another report by [Leonard B.E., & Myint A.](https://pubmed.ncbi.nlm.nih.gov/19212943/), 2009, that showed that chronic [stress](https://healthootopia.com/health/tips-to-control-pcos-hair-loss/) leads to increased concentrations of pro-inflammatory cytokines and glucocorticoids which appear to contribute to some of the behavioral changes associated with depression. So it leads to defective serotonin function which may actually increase the risk of having depression in these patients.

## How does this all occur?

Well, it all has to do with tryptophan. Tryptophan is the amino acid that we ingest and use to form 5-hydroxytryptamine (5-HT) and ultimately serotonin. Generally, tryptophan is metabolized to 5-hydroxytryptamine. But if we have an increase in IL-1, IL-6, TNF, or an increase in cortisol from heightened stress or changes in immunological functioning, these can activate two particular enzymes. IL-1, IL-6, and TNF can activate Idoleamine -2, 3 dioxygenases (IDO). Cortisol can activate the enzyme Tryptophan dioxygenase (TDO).

These two enzymes metabolize and degrade tryptophan kynurenine. Kynurenine can then be further degraded into kynurenine metabolites. If these two enzymes are activated and they are actively degrading tryptophan, this means that tryptamine is being diverted away from 5-hydroxytryptamine production. This means that we have reduced levels of serotonin which can lead to symptoms of major depressive disorder.

So this is how immune system cytokines and cortisol can lead to reduced levels of serotonin.

## What are some of the outcomes of depression-mediated immune modulation?

As we’ve seen before, depression and stress increase macrophage activity and cytokines. It also decreases T-cell function and natural killer cell activity. There is an increased association with autoimmune diseases. Patients with rheumatoid arthritis are more likely to develop depression than healthy controls and depression has been shown to exacerbate rheumatoid arthritis symptoms ([2).](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3247620/)

But these could be more of a quality of life issue. Patients with rheumatoid arthritis can experience pain and they can be more likely to develop depression due to their quality of life and not due to some underlying immunomodulatory mechanism.

With regards to decreased T-cell function and natural killer cell activity, there’s an increased association with infectious processes. Depression is associated with infections with Herpes Simplex Virus – 1, Varicella zoster virus, Epstein-Barr virus, and Chlamydia trachomatis ([3](https://www.nature.com/articles/srep04530#citeas)). Also, dermatological infections can increase the risk of depression ([4](https://pubmed.ncbi.nlm.nih.gov/29254311/)).

Can these infectious disease processes mimic symptoms of depression? Perhaps someone with an Epstein-Barr Virus or another viral infection might feel more fatigued. They might feel like they have no energy or no interest in daily activities. So being sick in general might make them feel like they have symptoms of depression even though they’re not depressed.

There’s still a lot of work to be done in this area but it’s definitely a fascinating area.

**_Hope you found this post interesting and helpful. If you did, please share and comment below._**

## References

1\. https://www.psychiatry.org/patients-families/depression/what-is-depression

2\. Margaretten M, Julian L, Katz P, Yelin E. Depression in patients with rheumatoid arthritis: description, causes and mechanisms. _Int J Clin Rheumtol_. 2011;6(6):617-623. doi:10.2217/IJR.11.6 (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3247620/)

3\. Wang, X., Zhang, L., Lei, Y. _et al._ Meta-Analysis of Infectious Agents and Depression. _Sci Rep_ 4, 4530 (2014). https://doi.org/10.1038/srep04530 (https://www.nature.com/articles/srep04530#citeas)

4\. Jagmag T, Tirant M, Lotti T. Link between cutaneous infection, stress and depression. J Biol Regul Homeost Agents. 2017 Oct-Dec;31(4):1037-1041. PMID: 29254311. (https://pubmed.ncbi.nlm.nih.gov/29254311/)
