---
title: 'Lichen sclerosus: Symptoms, Diagnosis, and Treatment'
date: 'May 24, 2021'
excerpt: 'Vulval lichen sclerosus is a benign, chronic, progressive skin condition that is accompanied by symptoms of vulval itching and pain. It can occur at any age but tends to peak around menopause.'
category: 'Health'
tags: [
"female health","genital disorders","health","lichen sclerosus","lichen sclerosus diagnosis","lichen sclerosus symptoms","lichen sclerosus treatment","low-level light therapy","platelet rich plasma","PRP","vulva","vulval cancer","vulval itching","vulval lichen sclerosus"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/tanya-kusova-kwCGmSw54BU-unsplash-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/tanya-kusova-kwCGmSw54BU-unsplash-scaled.webp'
---

## What is vulval lichen sclerosus?

Vulval lichen sclerosus is a benign, chronic, progressive skin condition that is accompanied by symptoms of vulval itching and pain. It can occur at any age but tends to peak around menopause.

It’s a condition that causes severe itchiness of the vulval area, the external tissues of the genitalia of women. It can affect all of the vulva and even the perianal tissue. It can extend backward and have an hourglass sort of shape and also the tissues become white, scarred, and thin.

## Who gets it?

Lichen sclerosus can affect both men and women but affects ten times more women than men. Young girls and postmenopausal women can get it in the genital area and not just in the body. It can be purely associated with the genital area. In men, it can involve the skin of the genitalia causing balanitis xerotica obliterans. It’s far more common than you think and there needs to be a lot more awareness of this condition. In fact, after a certain age, 25 percent of elderly women can have this problem. It’s really when the problem becomes more seriously destructive of the tissues that we tend to worry about.

## What causes vulval lichen sclerosus?

The cause remains unknown. There are many theories, however. Disorders of the immune system such as lupus, diabetes, and thyroid disease are more common in patients with vulval lichen sclerosus potentially suggesting an autoimmune mechanism.

It’s multifactorial. We do know that there’s a genetic association because around 10 to 15% of women who have lichen sclerosus have a relative with it. There’s an autoimmune component to it because some women have other autoimmune conditions as well. In this condition, there are antibodies to Extracellular Matrix Protein 1 (ECM1) in 60 to 80 percent of women so there’s obviously an autoimmune component, which in turn means that there’s probably an inflammatory component.

What tends to happen with these women is that the scarring and scar tissue can be so severe that it can completely engulf the clitoris and scar down the introitus – the opening of the vagina and make sexual intercourse very painful or impossible. It can really cause a lot of distress for women and a lot of stress on their relationships with their partners.

## How is lichen sclerosus diagnosed?

It can be diagnosed by careful examination of the vulva or via biopsy. Most patients present with characteristic clinical symptoms of vulval itching and irritation. On examination, the skin generally appears thin, crinkled, and whitened. Since other chronic conditions may have a similar appearance, it is preferable in some cases to perform an in-office vulval biopsy to obtain a definitive diagnosis.

## How is vulval lichen sclerosus treated?

Unfortunately, there is no cure available. However, the first-line therapy is a super potent topical steroid. The aim is to control symptoms and prevent disease progression. Even after symptoms resolve, maintenance therapy with the administration of topical steroids twice weekly is recommended to prevent disease recurrence. Treatment is very important. Although lichen sclerosis is not a malignancy it does carry an increased risk of vulval cancer. Only if really necessary a surgical treatment should be used.

The treatment should involve looking after internal health because we do know that it occurs commonly in older women after menopause. So we know that there are hormonal changes. We know that there are other autoimmune diseases in many of these women. We need to correct diet, achieve hormonal balance, nutritional balance, and incorporate lifestyle changes to help reduce inflammation and reduce a tendency to autoimmunity in women.

Experimentally low-level laser therapy which is a painless treatment has been used to promote wound healing and restore tissues. A preliminary study has found the use of platelet-rich plasma ([PRP](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5960026/)) injected into the damaged areas for wound healing and the healing responses to be helpful.

The other things that women can do in terms of general measures are:

1.  They can be very gentle with their tissues in the genital region
2.  Avoid using soap in the genital region
3.  Avoid tight clothing rubbing
4.  Refrain from scratching the area
5.  Avoid riding bicycles or horses because it might aggravate the condition
6.  Use moisturizers to help moisturize the tissues as well as the steroid ointment and anything else that you’ve been prescribed.

Also please, if you know anyone who has a very itchy vulva or who’s having difficulty with sexual intercourse or pain with sexual intercourse make sure that person gets help and gets a good diagnosis so that they can be helped.

**Did you find my article “Lichen sclerosus: Symptoms, Diagnosis, and Treatment” helpful or know somebody who would? I’d really love it if you could share it.**
