---
title: "Liquid Biopsy: An Upcoming Diagnostic Method"
date: "January 28, 2024"
excerpt: "An emerging alternative known as a liquid biopsy is gaining attention. This technique involves scrutinizing cancer-related materials, such as DNA, obtained from a blood sample. While a liquid biopsy currently cannot fully replace a traditional tumor biopsy, it holds promise for tailoring cancer management strategies on an individual basis."
category: "Health"
tags: ["cancer", "cancer diagnosis", "liquid biopsy", "new diagnostic method", "upcoming lab test", "health innovation", "cancer research", "targeted therapy", "personalized medicine"]
# cover image small 320x320 (width x height)
cover_image: "/images/posts/liquid biopsy.webp"
# banner image large 1080x540 (width x height)
banner_image: "/images/posts/liquid biopsy.webp"
---
Cancer diagnosis typically necessitates a biopsy, a procedure involving the extraction of a tissue piece or cell sample from the tumor for laboratory analysis. Nevertheless, biopsies have inherent limitations; the obtained sample may be too minute to yield a conclusive diagnosis. In such cases, the partial information may not capture the complete picture, as different sections of the tumor may exhibit variations in grade.

A tumor might have different grades just all in one tumor. It is called tumor heterogeneity. Even within a single tumor you can actually biopsy different areas and find different molecular characteristics. Additionally, there are instances where the pathologist can identify cancer but struggles to pinpoint its origin.

An emerging alternative known as a liquid biopsy is gaining attention. This technique involves scrutinizing cancer-related materials, such as DNA, obtained from a blood sample. While a liquid biopsy currently cannot fully replace a traditional tumor biopsy, it holds promise for tailoring cancer management strategies on an individual basis.

For decades, we have heavily relied on tissue biopsies as the gold standard for diagnosis. However, this approach has drawbacks, especially from the patient's perspective, as it involves the insertion of a needle into an organ. Ideally, efforts are underway to minimize or altogether avoid this invasive aspect of the diagnostic process.

**How do we know what is actually driving the cancer?**

The location chosen for needle biopsies is determined not by the tumor's biology but by considerations of safety and ease for the patient. The cells present in the bloodstream hold particular significance, as the blood can be compared to a mixture of various tumor components. This is the crucial area to investigate for active tumor indicators with the potential to metastasize and trigger cancer activation at any stage.

**Cancer comes in different stages but does it show up in the blood early?**

The evidence for liquid biopsy suggests this is so. The potential for liquid biopsy could be anywhere from monitoring treatment during active disease to monitoring for minimal residual disease after treatment to see if it’s going to come back. You could use it for screening to help us identify those cancers earlier.

There are various studies underway to develop blood tests for screening for multiple cancers like breast cancer, colorectal cancer, prostate cancer, etc. using circulating tumor cells or DNA from the blood. There are efforts to look at methylation patterns on DNA from blood as well which is an epigenetic change. All of our DNA is methylated but certain specific patterns of methylation can be associated with the development of cancer or with other diseases.

**How does liquid biopsy help in individualizing treatment?**

In the context of an actively diagnosed cancer patient, we now possess the capability to choose targeted therapies by examining mutation patterns or alterations in the DNA characteristics of the cancer. Individualizing therapy refers to comprehending the specific attributes of that particular tumor. This approach is employed not only for detecting cancer but also for customizing the therapy according to the findings in the blood.

**_Did you find my article “Liquid Biopsy: An Upcoming Diagnostic Method” helpful or know somebody who would? I’d really love it if you could share it._**

