---
title: 'Struggling to lose weight? These medical reasons explain why you’re not losing weight'
date: 'April 27, 2021'
excerpt: "Have you been struggling to lose weight and wonder if there might be a medical reason behind this? It's not uncommon for people to think that there may be an underlying medical reason."
category: 'Health'
tags: [
"anxiety","bodyweight","cortisol","Cushing's disease","depression","diabetes","diabetes mellitus","heart disease","hypertension","hypothyroidism","immunity","insulin","insulin resistance","leptin","lipedema","medication","medicine","prediabetes","sleep","stress","stroke","thyroid disease","type 2 diabetes","weight gain","weight loss"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/scale-403585_1920.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/scale-403585_1920.webp'
---

Have you been struggling to lose weight and wonder if there might be a medical reason behind this? It’s not uncommon for people to think that there may be an underlying medical reason as to why they are gaining weight or are having difficulty losing weight. In this post, I’m going to take you through some of the common and some of the not-so-common medical reasons behind why people struggle to lose weight. I find it really helps to think of these problems with some of the different hormone systems that affect our bodies. So rather than just listing a load of medical problems, I’m going to break this down by the different hormone systems and discuss some of the medical problems that fall into each.

## Thyroid gland

Let’s start with one of the most common — thyroid problems. The thyroid hormones are an important regulator of our metabolism. I like to think of them as acting like the accelerator or gas pedal in the car, controlling the speed of many of the body’s functions. If the thyroid is overactive, everything speeds up; if it’s underactive, everything slows down.

Hypothyroidism is the medical name for underactive thyroid. This is probably the best-known medical cause of issues with weight loss. Approximately 5% of people have a problem with their thyroid gland. It’s estimated that 60% of those go undiagnosed and untreated. Some of the symptoms of underactive thyroid glands are slow heart rate, constipation, dry skin, low mood, hair loss, cold intolerance, and of course, weight gain. Tests for thyroid disorders are among the first tests that should be ordered for patients who are struggling to lose weight or who are experiencing unexpected weight gain.

Hypothyroidism is really common, easy to test for, easy to treat, and frequently undiagnosed. In fact, a friend of mine went undiagnosed for years. She was mistakenly diagnosed with depression, which magically got better when her underactive thyroid gland was treated. So if you’re experiencing some of the symptoms I mentioned earlier, then it’s probably worth having a chat with your doctor.

## Stress hormones

The second group of hormones that I want to talk about today is stress hormones, in particular, cortisol. Cortisol is one of the main hormones that help our bodies respond to stressful situations. It has some very useful, short-term effects, such as increasing our blood sugar levels, increasing our attention, decreasing our sensitivity to pain, and increasing our blood pressure. So if you’re being chased by a tiger, these are all pretty useful things to have to happen to your body. But the problem with cortisol is when these effects become prolonged such as when somebody is always stressed out.

## Chronic stress

The next main medical problem that may be preventing weight loss, is chronic stress. Chronic, ongoing stress is very bad for our health. Persistently raised cortisol causes persistently raised blood glucose levels — think diabetes — or persistently raised blood pressure — think heart disease and strokes. It also decreases the immune system. People who are chronically stressed frequently get more infections. It also causes decreased levels of serotonin which is the happy chemical — think depression.

The excess glucose levels caused by constantly raised cortisol will also cause cravings for sugary, high-carb foods. In fact, there’s also a disease that causes excessive cortisol secretion, which gives us kind of an extreme version of what happens when we are chronically stressed. Cushing’s disease is a rare tumor that causes the production of a significant amount of cortisol.

People with Cushing’s disease typically gain weight, mainly around the abdomen. They also develop fat on the upper back, develop a red, round, puffy face, and get purple stretch marks across their abdomen. They also experience mood issues. In other words, think that Cushing’s disease is like an extreme version of what happens when we’re chronically stressed. Other conditions that go hand in hand with chronic stress are of course anxiety and depression. Persistently raised cortisol is something that people with anxiety and depression can also experience.

It’s not hard to see why people who are suffering from those issues often also gain weight. Of course, some of the medications we use to treat anxiety and depression can also cause weight gain. I’m going to talk about some of the medications that can cause weight gain later on.

## Leptin

The next hormone that causes problems with weight gain is leptin. Leptin is a hormone that is produced via fat cells. High levels of it tell our brain that we don’t need to eat, so it reduces our appetite. So the more fat we have, the more leptin is produced, which should tell the brain that we’re not hungry.

### What causes problems with leptin?

Sleep problems. When you have a medical problem that is causing issues with your sleep. Or you’re just someone who doesn’t let yourself get enough sleep. Sleep is an important regulator of our metabolism and therefore our weight. Sleep issues can cause problems with your weight. Very simply put, when sleep goes down, weight goes up. There is quite a famous [study](https://pubmed.ncbi.nlm.nih.gov/21199039/) done a few years ago in Finland. A group of women who had six or fewer hours of sleep a night actually gained 5 kg. This is about 11 pounds over a seven-year period compared to those who slept longer.

There are a couple of ways in which it goes about doing this. Sleep deprivation leads to reduced levels of leptin, so you’re simply more hungry after about a night’s sleep. To top that off, a tired brain just doesn’t make such well-reasoned judgments about nutrition. In fact, you’re far more likely to be impulsive and give in to the desire for junk food after a bad night’s sleep.

### Leptin resistance

As I mentioned before, fat cells produce leptin to send a signal to your brain. So why do obese people get hungry at all? Think about it. If you’re obese, you have a lot more fat cells that should be producing a lot more leptin than someone who’s slim. This in turn should suppress your appetite so that your weight normalizes again. But it’s pretty clear that there’s something going wrong.

In the same way that an alcoholic becomes resistant to the effects of alcohol and needs more alcohol to become intoxicated, our brains can also become resistant to the effects of leptin. This is known as leptin resistance.

Leptin resistance is one of the key hormonal problems that will prevent your progress towards losing weight. It’s probably not a condition that you will find regularly diagnosed for example by your doctor, but it is one of the key hormonal disorders that exist in our bodies that causes problems with our weight.

## Insulin

Insulin has many roles in the body, but one of its key roles is the regulation of blood glucose. If our pancreas senses that blood glucose levels are elevated, such as after a meal that was high in carbohydrates, then it will release insulin into the bloodstream.

Now insulin allows blood glucose to be taken up by the cells, mainly fat cells, and muscle cells, but much like with leptin resistance where the brain stops listening to the signals from the leptin, insulin resistance also occurs. If someone has insulin resistance, more insulin is needed to shift the same amount of glucose into the same cells. The result of this is that raised insulin levels exist long after someone has finished a meal, much longer than they should be.

If you’ve never heard of [insulin resistance](https://healthootopia.com/health/insulin-resistance-cause-symptoms-and-prevention/) before, you’ve pretty much almost certainly have known some of the conditions that insulin resistance is a key abnormality in, such as obesity, pre-diabetes, Type 2 diabetes, and polycystic ovary syndrome (PCOS).

Remember, insulin is the hormone that tells the body to store fat. If [insulin](https://healthootopia.com/health/5-things-to-lower-your-insulin-levels-naturally/) levels are raised above where they normally should be, particularly over a sustained period of time, then you’re going to have issues with weight. It’s very easy to gain weight in that situation but it’s very hard to lose weight.

## Medication

Weight gain is the side effect of many different types of medications, and this is often down to the actions that those medications also have on the hormone systems that we described earlier on. For example, insulin or any drug that tells the pancreas to produce more insulin will cause weight gain. Steroid medications are really well known to also cause weight gain, but what steroid medications are, are essentially synthetic versions of cortisol. We use them to suppress the immune system just like I mentioned earlier, but they have all the other side effects of chronic stress too. Many anti-depressants also cause weight gain.

## Lipedema

Lipedema is a chronic condition where there is an abnormal build-up of fat cells in the legs, thighs, and buttocks, and also occasionally in the arms. It almost exclusively affects women, and people with this condition really struggle to lose weight from those areas. In fact, many lose weight off the upper body quite well.

If you have a significantly abnormal distribution of fat from the upper body to the lower body and you find it particularly difficult to lose weight from those areas that I described, then this is something you may wish to look into further. But as I mentioned, it’s not something that doctors commonly know about so you may need to take some more information to your doctor with you, if you’re going to go in about that condition.

In general, most of the conditions that cause problems with losing weight have a hormonal basis, particularly the thyroid hormones, problems with cortisol, problems with leptin that affects your appetite, and problems with insulin. I actually think that problems with leptin resistance and insulin resistance are way under-recognized as hormonal problems that prevent people from losing weight effectively. Many overweight or obese or pre-diabetic or Type 2 diabetics are strongly insulin resistant and probably leptin resistant too. They outnumber the number of people with hypothyroidism.

The problem is these conditions aren’t effectively addressed by low-calorie diets, but they are addressed by low carbohydrate diets, intermittent fasting, and all the other lifestyle changes that I talk about in this [post](https://healthootopia.com/health/tips-to-control-pcos-hair-loss/).

**_Thanks for reading, everyone. I hope that’s been useful. If you’ve enjoyed this post, then please share it with your friends who might benefit from this information. Leave me a comment._**
