---
title: 'Menstrual Cycle: What You Should Know About Your Periods'
date: 'September 14, 2021'
excerpt: "The menstrual cycle is the duration from Day 1 of bleeding to Day 1 of the next time of bleeding. Although the average cycle is 28 days, it is normal to have a cycle that is shorter or longer. Menstrual flow might occur every 21 to 35 days and last 2-7 days."
category: 'Health'
tags: [
"estrogen","female health","female reproductive system","fertility","FSH","health","hormonal acne","IVF","LH","menstrual cycles","menstruation","ovary","PCOS","period cramps","period pimples","periods","PMDD","PMS","pregnancy","premenstrual dysphoric disorder","Premenstrual syndrome","progesterone","women's health"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/oana-cristina-3kI_P8dQosA-unsplash-1-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/oana-cristina-3kI_P8dQosA-unsplash-1-scaled.webp'
---

The menstrual cycle is the duration from Day 1 of bleeding to Day 1 of the next time of bleeding. Although the average cycle is 28 days, it is normal to have a cycle that is shorter or longer. Menstrual flow might occur every 21 to 35 days and last 2-7 days. For the first few years after menstruation begins, long cycles are common. However, menstrual cycles tend to shorten and become more regular as you age. Did you know that the average woman menstruates about 450 times during her life?

The brain (mainly the hypothalamus and the pituitary gland), ovaries, and uterus normally follow a sequence of events once a month. This sequence helps to prepare the body for pregnancy. Two hormones, follicle-stimulating hormone (FSH) and luteinizing hormone (LH), are made by the pituitary gland. Two other hormones, progesterone, and estrogen are made by the ovaries. The hormones estrogen and progesterone play the biggest roles in how the uterus changes during each cycle.

- Estrogen causes thickening of the lining of the uterus.
- Progesterone increases after an ovary release an egg (ovulation) at the middle of the cycle (Day 14). This helps the estrogen keep the lining thick and ready to receive a fertilized egg.

A drop in progesterone (along with estrogen) causes the lining to break down and this is shed. This is when your period starts.

Any change in the level of these hormones can affect your menstrual cycle and fertility. Pregnancy is the most common cause of a missed period. Keep in mind that the use of certain types of contraception, such as extended-cycle birth control pills and intrauterine devices (IUDs), will alter your menstrual cycle. Other reasons can be obesity, [PCOS,](https://healthootopia.com/health/pcos-risk-factors-symptoms-diagnosis-and-treatment-options/) anorexia, very low body weight, excessive stress, and over-exercising.

## _The menstrual cycle in PCOS_

In women with polycystic ovary syndrome (PCOS), multiple small follicles (small cysts 4 to 9 mm in diameter) develop in the ovary, hence the term polycystic ovaries. These small follicles are incapable of growing to a size that would trigger ovulation. As a result, the levels of estrogen, progesterone, LH, and FSH become imbalanced.

Androgens are normally produced by the ovaries and the adrenal glands. Androgens may become increased in women with PCOS because of the high levels of LH but also because of high levels of insulin usually seen with PCOS.

If ovulation does not occur, the lining of the uterus (called the endometrium) does not shed and regrow as in a normal menstrual cycle. Instead, the endometrium becomes thicker and may shed irregularly, which can result in heavy and/or prolonged bleeding. Irregular or absent menstrual periods can increase a woman’s risk of endometrial hyperplasia (overgrowth of the endometrium) or even endometrial cancer.

Women with PCOS usually have fewer than 6-8 menstrual periods per year. Some women have normal cycles during puberty, which may become irregular if the woman gains weight. This is usually normalized by losing at least 10% of the body weight.

## _Common symptoms that occur during your periods_

### 1\. Hormonal acne

Hormonal acne occurs due to fluctuations in your hormones which occur commonly during your periods. It typically occurs on the lower part of your face. This includes the bottom of your cheeks and around your jawline. These can vary from blackheads and whiteheads to small pimples that come to a head or cysts.

#### _How do you treat it?_

Over-the-counter medicines like benzoyl peroxide, clindamycin gel with niacin, and azelaic acid are good options for mild cases.

Severe cases usually require oral medication that balances the hormones internally. It would be a good idea to consult with your dermatologist for the best treatment option for you.

### 2\. Premenstrual syndrome (PMS)

Premenstrual symptoms usually occur after ovulation (release of the egg from the ovary) till the onset of bleeding. Common symptoms include bloating (usually due to water retention), craving certain types of food, lack of energy, headache, fatigue, cramps, low back pain, low sex drive, aching muscles, breast tenderness, constipation or diarrhea, feeling sad or depressed, anger, anxiety or irritability. These symptoms usually go away by the third day of bleeding.

In some women, these symptoms are severe and can be debilitating. They often interfere with their daily lives, including work, school, social life, and relationships. This condition is known as premenstrual dysphoric disorder (PMDD). In most cases, the symptoms are reduced and usually disappear by the third day of bleeding.

#### _So, how can you reduce these PMS symptoms?_

- Maintain a [healthy diet](https://healthootopia.com/health/the-best-foods-for-insulin-resistance/) – Studies have shown that eating a diet rich in vegetables, complex carbs, protein, fruits, and nuts helps reduce the severity of PMS symptoms. Avoid junk and processed foods that have a high sodium content which causes water retention and worsens bloating.
- Physical activity – Regular exercise helps with PMS symptoms \[[1](https://pubmed.ncbi.nlm.nih.gov/8027958/)\]. Endorphins released during physical activity helps to reduce pain by acting as natural painkillers. Yoga has been found to relieve low back pain and muscle ache in PMS.
- Stop smoking – Smoking is seen to be associated with more severe PMS symptoms.
- Relax – Reducing stress by meditation or any other means has been seen to alleviate PMS symptoms.
- Drink more water – Drinking at least 2–3 liters of water daily can help with the symptoms.
- Reduce your caffeine intake.
- Get enough rest.
- In severe conditions, medication may be needed. Consult your doctor regarding this.
- Other options like acupuncture, vitamins, calcium, magnesium, chaste berry, etc have been said to help with PMS symptoms but there is not enough scientific evidence to currently support them.

Now that you know your periods in and out, quit stressing about them and start loving your body!

**_Did you find my article “How Well Do You Know Your Menstrual Cycle?” helpful or know somebody who would? I’d really love it if you could share it._**
