---
title: 'Ovarian Cancer: What is it, Symptoms, Stages, and Treatment'
date: 'May 15, 2021'
excerpt: 'Ovarian cancer develops when abnormal cells in the ovary begin dividing in an uncontrollable manner and form a tumor.'
category: 'Health'
tags: [
"check for ovarian cancer at home","first symptoms of ovarian cancer","ovarian cancer","ovarian cancer causes","ovarian cancer symptoms","ovarian cancer treatment","stages of ovarian cancer"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/ava-sol-p8mdWsD6Rec-unsplash-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/ava-sol-p8mdWsD6Rec-unsplash-scaled.webp'
---

Ovarian cancer develops when abnormal cells in the ovary begin dividing in an uncontrollable manner and form a tumor. Ovarian cancer often goes undetected until it has spread to other organs mainly the pelvis and the stomach.

The ovaries are mainly composed of three kinds of cells. Each cell type can develop into a different type of tumor:

- Epithelial tumors arise from the cells that cover the outer surface of the ovary. Most ovarian tumors are epithelial cell tumors.
- Germ cell tumors arise from the cells that produce the eggs (ova).
- Stromal tumors arise from tissue cells that hold the ovary together and produce the female hormones estrogen and progesterone.

Malignant epithelial tumors are called _carcinomas_. About 85% to 90% of malignant ovarian cancers are epithelial ovarian carcinomas.

## **Ovarian Cancer Symptoms**

Ovarian cancer is often referred to as a silent killer because the symptoms resemble other common conditions and are often missed. Most women who develop ovarian cancer have symptoms for 6-8 months prior to their official diagnosis. Most of these women see multiple doctors and are often diagnosed with things like UTIs, irritable bowel syndrome, and any other host of problems. If you have the following symptoms for two weeks in a row every day and they’re different from your baseline, you need to see your doctor.

These symptoms include:

- abdominal pain
- change in your bowel movement
- a sense of feeling full and only being able to eat a few bites of food
- nausea or
- a belly that looks bloated

Having these symptoms doesn’t necessarily mean you have ovarian cancer. But it means you should see your doctor and ask them to be evaluated. If you have a family history of ovarian cancer, not an ovarian cyst but ovarian cancer, then you should see your primary care doctor or your OB/GYN, or a Gynecologic Oncologist. Ask them what you can do to remain proactive about your health in the meantime.

For all other women, routine screening tests are not advocated. You need to monitor your own symptoms and be your own best advocate.

## **Ovarian Cancer Stages**

Ovarian cancer is a subtle disease. It can sneak up on us disguised as common problems such as prolonged bloating, the constant need to urinate, and fatigue. While the warnings are the same, the most common type of ovarian cancer begins in epithelial cells covering the surface of the ovary.

Doctors first confirm the diagnosis and learn the stage or extent of cancer before deciding the best course of treatment. This requires a procedure called surgical staging during which a surgeon carefully examines your pelvic and abdominal areas for the spread of cancer cells.

The stage of ovarian cancer is determined by where cancer cells are found in the body.

### Stage 1

In Stage 1, ovarian cancer is found in or on the surface of one or both ovaries or fallopian tubes or in fluid collected from the abdomen.

### Stage 2

In Stage 2, cancer has spread from its initial site to other areas of the pelvis such as the ovaries, fallopian tubes, and the uterus. Finding cancer only in the lining of the abdomen is also considered Stage 2.

### Stage 3

Stage 3 means that cancer has spread outside the pelvis and is found in other parts of the abdomen, nearby lymph nodes, or onto the surface of the liver or spleen.

### Stage 4

Cancer has reached Stage 4 when it has spread beyond the abdomen to other parts of the body such as the liver, lungs, bones, or lymph nodes in the groin.

## **Ovarian Cancer Treatment**

Ovarian cancer begins in the ovaries, which are the part of the female reproductive system that makes and stores eggs. Cancer occurs when abnormal cells grow out of control, the cancer cells continue to divide and may spread. Your treatment is based on the type and stage of your cancer and other important factors.

The main treatments for ovarian cancer are surgery and chemotherapy. Your treatment plan may include both of these options. You may also receive one or more of the following treatments:

1.  Targeted therapy
2.  Immunotherapy
3.  Radiation therapy
4.  Hormone therapy

**Surgery** to remove the tumor is often the first step in your treatment plan. The goal of surgery is to treat your cancer by removing as much of the tumor as possible. If you have epithelial ovarian cancer the goal is also to stage your cancer.

Surgery includes the removal of one or both of the ovaries. The affected fallopian tubes may also be removed. If the uterus is removed, surgery may include taking the cervix to remove as much cancer as possible. The surgeon may need to take tissue from beyond the reproductive system, lymph nodes, or the omentum, which is the apron of tissue that covers your stomach and intestines. Surgery may also involve taking tissue from nearby organs such as the bladder, stomach, or colon.

**Chemotherapy** uses drugs to fight cancer. The drugs enter your bloodstream and travel throughout your body. Chemotherapy works by killing cancer cells or stopping them from dividing. Healthy cells in the body may also be affected leading to side effects.

**Targeted therapy** is a treatment for advanced epithelial ovarian cancer. It targets the part of cancer cells that makes them different from normal cells. These drugs change the way cancer cells divide, grow and repair themselves. As a result, the tumor may stop growing or even shrink. Nearby healthy cells may also be affected leading to side effects.

**Immuno-oncology** also known as immunotherapy helps your immune system fight cancer. These treatments strengthen your immune system so that it can find and attack cancer cells or stop them from growing.

Other treatments for ovarian cancer are radiation therapy and hormone therapy. They are used less frequently. Your doctor may prescribe a combination of these treatments. Discuss with your doctor any questions you have about your treatment plan or side effects. Be sure to take your medications as directed by your doctor.

Did you find my article “Ovarian Cancer: What is it, Symptoms, Stages, and Treatment” helpful or know somebody who would? I’d really love if you could share it.
