---
title: 'PCOS: Risk factors, Symptoms, Diagnosis and Treatment Options'
date: 'April 14, 2021'
excerpt: 'Polycystic Ovary Syndrome (PCOS) is a fairly common condition in women of reproductive age. We’re going to see what this condition is and some of the risk factors for getting this condition.'
category: 'Health'
tags: [
"acne","amenorrhea","androgenic alopecia","anovulation","clomiphene","diabetes","diabetes medication","diabetes mellitus","endometrial cancer","GnRH","hirsutism","infertility","letrozole","metabolic syndrome","obesity","oligomenorrhea","ovarian hyperstimulation syndrome","ovary","ovulation","PCOS","polycystic ovary syndrome","prediabetes","type 2 diabetes"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/girl-872149_1920.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/girl-872149_1920.webp'
---

Polycystic Ovary Syndrome (PCOS) is a fairly common condition in women of reproductive age. We’re going to see what this condition is and some of the risk factors for getting this condition. We’re also going to look at some of the other medical conditions that are associated with PCOS, methods to diagnose this condition, and ways to treat it.

So what is polycystic ovary syndrome? If we actually break down the word “Polycystic”, the prefix “poly” means many or multiple, “cyst” refers to cysts, and the suffix “ic” means “pertaining to”. So this condition is a syndrome of many or multiple ovarian cysts or cysts in the ovary. It is actually the most common endocrinological disorder in reproductive-age women worldwide. It’s estimated to have a prevalence anywhere between [five to fifteen percent.](https://pubmed.ncbi.nlm.nih.gov/27664216/)

Often women are affected with acne, hirsutism or excessive hair growth, and infertility in this condition. It is actually a multifactorial disease which means that there are many moving parts. But if we were to boil it down into one statement – this condition involves excess production of androgens or male sex hormones. This means that often majority of the cases have functional ovarian hyperandrogenism. Their ovaries produce an excess of male sex hormones or excessive amounts of androgens. So we have high levels of androgens. These androgens lead to altered gonadotropin levels and this leads to issues with ovulation. Often it can inhibit ovulation from occurring.

## **What are some of the risk factors for PCOS?**

### 1\. Genetics

One of the main risk factors for getting PCOS is genetics. When we look at [twin studies](https://pubmed.ncbi.nlm.nih.gov/16219714/), especially with monozygous twins. In identical twins, if one twin has PCOS, the other twin is highly likely to also have PCOS. So that’s indicating there’s a genetic component. We also see a similar incidence when we look at first-degree relatives with PCOS. First-degree relatives to the individual with PCOS are also at a high risk of having PCOS themselves.

### 2\. Environmental influences

The second risk factor is environmental influences. This includes diet, our surroundings, stress, and the things we come into contact with in our day-to-day lives.

### 3\. Obesity

Obesity, especially pre-pubertal obesity, i.e. obesity before the onset of puberty is a risk factor for PCOS.

### 4\. Early-onset menarche

Another risk factor is early-onset menarche. This is more likely to be an associated factor. So individuals with earlier onset of menarche are more likely to have PCOS.

### 5\. Large or small for gestational age at birth

If you were born larger than average or smaller than average of the extremes of weight or size, you’re more likely to have PCOS.

### 6\. Valproic acid use

Using valproic acid which is an anti-seizure medication, puts you at a higher risk for having PCOS as well.

### 7\. Fetal androgen exposure

There is a hypothesis with some data from human and animal [studies](https://pubmed.ncbi.nlm.nih.gov/28531286/), that having PCOS could be related to fetal androgen exposure. This means having exposure to androgens during pregnancy. If your mom was exposed to higher than average levels of androgens, you could be at a higher risk for having PCOS yourself.

## **What are some of the clinical features of PCOS?**

### 1\. Menstrual irregularity or chronic anovulation

As we mentioned before, because of those high androgen levels there are altered gonadotropin levels. This in turn leads to a disruption of menstrual cycles. So your menstrual cycle timing can be off or delayed or irregular.

With menstrual irregularity, we may see oligomenorrhea, which is less than nine cycles per year. Or you could have complete amenorrhea – which means that you’re not having any periods at all.

### 2.Hyperandrogenism

Many symptoms of PCOS relate to a high level of androgens or male sex hormones. This high level of androgens is called – hyperandrogenism. “Hyper” means high or above. Hyperandrogenism leads to the characteristic findings that we see in patients with PCOS.

One of them is acne vulgaris. Women with PCOS, because of this hyperandrogenism component of PCOS, have issues with acne. They can also have issues with hirsutism or excessive hair growth which you can see on the face and other parts of the body.

### 3\. Androgenic alopecia

Another clinical feature that is not often talked about is alopecia or hair loss. They can actually have some components of male pattern baldness due to hyperandrogenism.  Typically hair loss affects the vertex, crown, or is in a diffuse pattern with preservation of the frontal hairline. Women with more severe hyperandrogenemia may see bitemporal hair loss and loss of the frontal hairline. So we can see some alopecia as well with regards to hyperandrogenism in PCOS.

### 4\. Polycystic ovaries

This is polycystic ovary syndrome, so there are multiple cysts within the ovary.  A polycystic ovary is [defined](https://pubmed.ncbi.nlm.nih.gov/24345633/) as an ovary containing 12 or more follicles (or 25 or more follicles using new ultrasound technology) measuring 2 to 9 mm in diameter or an ovary that has a volume of greater than 10 mL on ultrasonography. A single ovary meeting either or both of these definitions is sufficient for the diagnosis of polycystic ovaries.

### 5\. Obesity

The majority of patients with PCOS are overweight or obese. This is actually a significant finding in these patients.

## **What are some of the associated comorbidities or conditions that we find are more likely to occur in patients with PCOS?**

### 1\. Metabolic syndrome

One of the associated comorbidities is being obese but also have what we call metabolic syndrome. Metabolic syndrome is a syndrome that involves elevated blood pressure. People with metabolic syndrome often have hypertension, they have high levels of lipids in their blood (hyperlipidemia or dyslipedemia) and they also have central obesity. So it’s connected with obesity but has a couple of other components as well. Obesity and metabolic syndrome are often associated with PCOS.

### 2\. Impaired glucose tolerance with/without type 2 diabetes

Another comorbidity is impaired glucose tolerance in type 2 diabetes. Because of obesity and metabolic syndrome, this makes sense. We’re going to have issues with impaired glucose tolerance and [impaired insulin sensitivity](https://healthootopia.com/health/insulin-resistance-cause-symptoms-and-prevention/) that can ultimately lead to type 2 diabetes.

### 3\. Endometrial cancer

Because a patient with PCOS often has anovulatory cycles, they don’t have regular menstrual cycles. Or they are amenorrheic which means that they have no menstrual cycles. They have unopposed estrogen. This means that their endometrial lining continues to grow and it can lead to endometrial hyperplasia – thickened endometrial lining. This can ultimately lead to endometrial cancer if there is longstanding or chronic unopposed estrogen. So it’s important to oppose estrogen which means that we want to get these patients on progestin-containing oral contraceptives.

### 4\. Infertility

Infertility is due to the fact that women with PCOS are not ovulating. So they’re not actually releasing an egg which means that they’re not able to get pregnant.

### 5\. Obstructive sleep apnea

Often obstructive sleep apnea is related to the obesity component. So if you have a lot of weight around your neck, this can actually lead to obstruction. This obstructs the airway leading to obstructive sleep apnea. Such patients can also have issues with depression and anxiety.

### 6\. Cardiovascular disease

Obesity and metabolic syndrome are associated with cardiovascular disease, impaired glucose tolerance, type 2 diabetes, and also obstructive sleep apnea. All of these can increase your risk for cardiovascular disease.

### 7\. Non-alcoholic fatty liver disease

They can also have issues with non-alcoholic fatty liver disease. This is ultimately related to impaired glucose tolerance, insulin resistance, and the type 2 diabetes component of their associated comorbidities. Women with PCOS can have a lot of fat production and accumulation around the liver leading to liver inflammation and ultimately liver disease, if not dealt with appropriately.

## **How do we diagnose PCOS?**

It’s important to recognize that PCOS is a diagnosis of exclusion. This means that we have to rule out or exclude many other conditions that could be causing some of the signs and symptoms we see in PCOS. Symptoms like menstrual irregularities or amenorrhea or the signs and symptoms of hyperandrogenism.

One of the first tests is to do a urine pregnancy test or a beta HCG test. If either of these is positive that means that the woman is pregnant. We want to rule out pregnancy because pregnancy can cause amenorrhea as well.

We then want to move on to look through medications. Some medications can explain some of these signs and symptoms like androgenic steroids or dopamine antagonists.

Next, we want to look at TSH or thyroid-stimulating hormone levels, to see if these patients have thyroid disease. We want to rule out thyroid disease because hypo or hyperthyroidism can lead to similar issues with oligo or amenorrhea as well.

We then move on to looking at prolactin to see if these patients have hyperprolactinemia. There are many different causes of hyperprolactinemia. Some medications can do this. Dopamine antagonists can lead to hyperprolactinemia, or they may have a micro or macro pituitary adenoma. There are many causes that could be leading to a hyperprolactinemic state. But we still want to check their prolactin levels because hyperprolactinemia can cause issues with menstrual cycles and the timing of the menstrual cycle as well.

We then can move on to looking at their FSH or follicle-stimulating hormone, luteinizing hormone or LH, and estrogen levels. This helps us to rule out whether these patients have hypogonadotropic hypogonadism.

Next, we look at 17-hydroxyprogesterone to see if these patients have what we call non-classical congenital adrenal hyperplasia. This condition can actually mimic PCOS quite a bit and it’s important to rule this condition out.

We then look at androgen levels to see if they have hyperandrogenism. Hyperandrogenism could be due to many things. It could be due to PCOS or it could be caused by an androgen-secreting tumor. So it’s important to rule those things out as well.

Once we have excluded these other causes, we then use the [Rotterdam criteria](https://www.medscape.org/viewarticle/467811) to make a diagnosis of PCOS. There are actually three components of the Rotterdam criteria.

1.  Irregular or absent ovulation
2.  Elevated levels of androgenic hormones, and/or
3.  Enlarged ovaries containing at least 12 follicles each

The first one is menstrual irregularity. That could be oligomenorrhea or amenorrhea. So if you have either of those, that’s one point on the Rotterdam criteria.

The second is having signs and symptoms or clinical evidence or laboratory evidence of hyperandrogenism or high levels of androgens.

The third part of the Rotterdam criteria is polycystic ovaries. The best test to assess whether a patient has polycystic ovaries is to do a transvaginal ultrasound (TVUS). There could be a pelvic ultrasound to see if they have polycystic ovaries but the best one is actually a transvaginal ultrasound.

You have to have two or more of these criteria in order to meet the Rotterdam criteria for a diagnosis of PCOS.

In November 2015, the American Association of Clinical Endocrinologists (AACE), American College of Endocrinology (ACE), and Androgen Excess and PCOS Society (AES) released [new guidelines](https://reference.medscape.com/medline/abstract/26509855) in the evaluation and treatment of PCOS. Below is a summary of the guidelines:

- The diagnostic criteria for PCOS should include two of the following three criteria: chronic anovulation, hyperandrogenism (clinical/biologic), and polycystic ovaries

- In addition to clinical findings, obtain levels of serum 17-hydroxyprogesterone and anti-Müllerian hormone to aid the diagnosis of PCOS
- Free testosterone levels are more sensitive for determining androgen excess than total T levels and should be obtained with equilibrium dialysis techniques
- Women with PCOS should also be evaluated and/or treated for reproductive function, hirsutism, alopecia, and acne
- Adolescent girls with PCOS remain a diagnostic and therapeutic challenge. Girls whose oligomenorrhea persists 2-3 years past menarche typically have ongoing menstrual anomalies and are at higher risk for having an underlying ovarian or adrenal dysfunction. First-line monotherapy in this age group includes metformin monotherapy and/or combination therapy with oral contraceptive agents and antiandrogen agents.

## **Once we have made the diagnosis, how do we treat PCOS?**

The first part of the treatment of PCOS is a lifestyle modification. It’s very important to have a very good diet. A calorie-restrictive diet or a low carbohydrate diet and exercise. These two are very critical in treating PCOS.

Smoking cessation as always is always good. In fact, if you have extremely good lifestyle modification- a good healthy diet that is calorie-restricted, low carbohydrate, and have regular exercise, this can actually lead to improvement in menstrual cycles and improvement in those signs and symptoms of hirsutism or excessive hair growth. So you can actually improve those symptoms especially if you lose at least five to ten percent of your weight with lifestyle modification.

We can break down the treatment methods into four categories:

1.  Women who don’t want to get pregnant

2\. Women who want to get pregnant

3\. Treating hyperandrogenism

4\. Treating associated obesity and metabolic syndrome

### Women who don’t want to get pregnant

In women who don’t want to get pregnant, we use combined oral contraceptives (OCPs). This is the first line of treatment. It helps treat many parts of PCOS. One of those is menstrual irregularities. It helps treat acne and hirsutism (the excess hair growth). OCPs also reduce the risk of endometrial hyperplasia and endometrial cancer because it prevents the action of unopposed estrogen. It allows periodical shedding of the endometrial lining and allows menstrual periods to occur. So you don’t get hyperplasia of the endometrium.

### Women who want to get pregnant

Many women with PCOS have trouble conceiving and have to deal with infertility. The first-line treatment for infertility is a medication known as clomiphene citrate. We use clomiphene to help increase ovulation. You can also use letrozole which is another newer treatment for ovulation purposes as well.

Gonadotropin-releasing hormone (GnRH) agonists and GnRH antagonists are used in cases that are resistant to clomiphene. The incidence of ovarian hyperstimulation syndrome has been found to [be less with GnRH antagonists](https://mefj.springeropen.com/articles/10.1186/s43043-019-0002-1) than with GnRH agonists.

There’s also an adjunct treatment that we can use in addition to clomiphene or letrozole and that is metformin. Metformin is used in the treatment of prediabetes and diabetes. Metformin can actually help prevent ovarian hyperstimulation syndrome. Using metformin with clomiphene or letrozole can actually help with infertility and help prevent ovarian hyperstimulation syndrome. What’s important here is that you want to stop metformin once you are pregnant.

### Treating hyperandrogenism

Combined oral contraceptives can be used to treat signs and symptoms of hyperandrogenism like acne, hirsutism, and irregular menstrual cycles. But if you don’t see improvement in these symptoms after months of taking combined oral contraceptives, we move on to other treatments for hyperandrogenism.

One of those specifically is finasteride, a 5 alpha-reductase inhibitor. Finasteride prevents the conversion of testosterone to its more potent form, 5α-dihydrotestosterone. Another medication is spironolactone. Spironolactone can be used as it is anti-androgenic. So these could be used to help treat some of those symptoms like acne, hirsutism, and androgenic alopecia. Don’t use these when you are trying to get pregnant because these can actually affect neonatal development.

### Treating associated obesity and metabolic syndrome

Conditions like obesity, metabolic syndrome, and impaired glucose tolerance are all associated with PCOS. Metformin is actually a very important treatment in PCOS patients, especially with PCOS patients who have type 2 diabetes. Often metformin is the first-line treatment for type 2 diabetic patients.

We use metformin here as well to help with insulin sensitivity and glucose tolerance. It can also help regulate menstrual cycles as well and can help with weight loss too.

**_I hope you found this post helpful and informative. If you did please comment below and consider sharing the post._**
