---
title: 'The Best Foods for Insulin Resistance: What You Should be Eating to Reverse Insulin Resistance and Prediabetes'
date: 'April 9, 2021'
excerpt: 'Eating a diet that consists of foods that do not spike insulin levels after a meal can drastically help with insulin resistance.'
category: 'Health'
tags: [

"diabetes","diabetes mellitus","eggs","fish","glycemic index","healthy fats","healthy foods","insulin","insulin resistance","insulin resistance foods","obesity","prediabetes","reverse insulin resistance","type 2 diabetes","vegetables"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/salmon-3819966_1920.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/salmon-3819966_1920.webp'
---

Eating a diet that consists of foods that do not spike insulin levels after a meal can drastically help with insulin resistance. [Insulin resistance](https://healthootopia.com/health/insulin-resistance-cause-symptoms-and-prevention/) is a state where the cells in our body are no longer responding to insulin correctly. This happens when insulin levels in the body are high for extended periods of time. One of insulin’s main roles in the body is to regulate blood sugar. Usually, when we eat, blood sugar rises and as a result, the pancreas releases insulin. The insulin then ushers the excess sugar out of the blood and into our cells.

Now when you become insulin resistant, your cells stop accepting the blood sugar. This leads to your insulin levels remaining high and eventually your blood sugar remaining high as well. This is when you will develop type 2 diabetes. But if you catch insulin resistance early enough, you can stop it before it gets to that point. Some signs of insulin resistance include difficulty losing weight, skin tags on places such as your neck and armpits, and excess abdominal fat.

But one important thing to note is that insulin resistance can manifest years before there is a change in your fasting blood sugar. Because of this, it often goes undiagnosed since doctors rarely check insulin levels in asymptomatic people.

Since insulin resistance is caused by high insulin levels, also known as hyperinsulinemia, the key to reversing it is keeping insulin low. When you keep insulin low your cells become more sensitive to insulin again.

## What is the insulin index?

The [insulin index](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4955203/) is similar to the glycemic index but instead of measuring the blood sugar response to foods, it measures the insulin response. In most cases, the glycemic index and the insulin index response match up. Foods that spike blood sugar also spike insulin considerably. This makes sense since insulin is responsible for regulating blood sugar levels. So when blood sugar goes up, the insulin goes up too.

We need to remember that the insulin index tests foods in isolation – which is rarely how we eat them. And combining or eating foods in a different order can [drastically change the insulin response](https://pubmed.ncbi.nlm.nih.gov/27434027/). E.g. when we eat carbohydrate and protein-rich foods together, the insulin response is much higher than eating one or the other on its own.

The other thing that we need to take into consideration is that the insulin index was formed on the basis of a high-carb diet. The insulin response to different foods can be vastly different for someone who eats a low-carb diet. Take beef for example. When consumed in the context of a high carb diet the insulin response is moderate, but in the context of a low carb diet, the response is very low.

In someone eating a standard American diet, which is, of course, carb-heavy, there is a massive increase in insulin where insulin goes up several times over the baseline. This spike in insulin is even higher than when they were eating a pure carbohydrate source. The addition of protein to that then raises it even further. So, it is amplifying the inherent insulinogenic capacity of the carbohydrate.

In contrast, in the instance of a low carb fed individual, because we need to have the liver making glucose via gluconeogenesis we can’t afford to have insulin spiking so high. Since that would absolutely clamp down on gluconeogenesis. Thus as the evidence suggests, we don’t see that expected rise in insulin with the low carb fed individual. In the [low carb fed](https://pubmed.ncbi.nlm.nih.gov/31035514/) person, it ends up being fairly neutral with regards to the endocrine response.

There is also evidence to show that a plant-based meal is capable of improving pancreatic beta-cell function (the cells that produce insulin) in type 2 diabetes.

## What are the best low insulin index foods to reverse insulin resistance?

### 1\. Foods that are high in fat

![avocado](/images/posts/avocado-933060_1920.webp)

<center>
  <small>
    Image by
    [tookapic](https://pixabay.com/users/tookapic-1386459/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=933060)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=933060)
  </small>
</center>

Foods that are high in fat have next to no insulin response. Foods such as butter, ghee, olive oil, coconut oil, lard, sour cream, and heavy cream all have next to no insulin response. Fat-rich fruits such as avocados and olives also have a very minimal response and are great for insulin resistance.

### 2\. Eggs

![eggs](/images/posts/egg-1536990_1920.webp)

<center>
  <small>
    Image by
    [congerdesign](https://pixabay.com/users/congerdesign-509903/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1536990)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1536990)
  </small>
</center>

Eggs are one of my favorite insulin-friendly foods and one of my favorite foods in general. In fact, yolks are a great source of not only healthy fats but also fat-soluble vitamins A, D, E, and K, selenium, biotin, and a whole lot more nutrients.

So they really are a win-win. They have a low insulin response, high nutritional value, they are super versatile and they are delicious.

Here is what is interesting about eggs. If you eat the yolks alone or the whole egg the insulin response is low, but if you eat the whites on their own it can potentially be almost twice as high. Of course, as we discussed earlier this is highly dependent on what your diet looks like. There is really no reason to eat the whites on their own. If you do, you are missing out on the most nutritious part of the egg.

### 3\. Cheese

![cheese](/images/posts/cheese-1972744_1920.webp)

<center>
  <small>
    Image by
    [lipefontes0](https://pixabay.com/users/lipefontes0-3076470/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1972744)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1972744)
  </small>
</center>

Cheeses such as cheddar, blue cheese, and parmesan also have only a very small insulin response.

### 4\. Nuts

![almonds](/images/posts/almonds-21502_1920.webp)

<center>
  <small>
    Image by
    [PublicDomainPictures](https://pixabay.com/users/publicdomainpictures-14/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=21502)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=21502)
  </small>
</center>

Certain nuts such as macadamia nuts, walnuts, and pecans are also very low. Although when it comes to nuts, they are one of the few low-carb foods that are very easy to over-consume. If you have weight loss goals be very careful and mindful of your nut consumption. A little can go a long way.

### 5\. Meat, fish, and poultry

![salmon](/images/posts/salmon-1238248_1920.webp)

<center>
  <small>
    Image by
    [Shutterbug75](https://pixabay.com/users/shutterbug75-2077322/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1238248)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1238248)
  </small>
</center>

When it comes to meat – bacon, pork in general, fish such as salmon, mackerel, sardines, herring and anchovies, and duck score the lowest on the insulin index.

Turkey and chicken score higher and beef and lamb even higher. Now, this might not be applicable if you’re eating a low-carb diet. Even though beef and lamb are higher on the insulin index compared to some of the foods we’ve talked about already, they are still lower than most carb-rich foods. E.g. beef scores 51 on the insulin index meanwhile bananas score 84 and white bread scores 100.

### 6\. Vegetables

![vegetables](/images/posts/vegetables-752153_1920.webp)

<center>
  <small>
    Image by
    [congerdesign](https://pixabay.com/users/congerdesign-509903/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=752153)
    from
    [Pixabay](https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=752153)
  </small>
</center>

In terms of vegetables, anything non-starchy and low in sugar is probably good. Broccoli, cauliflower, lettuce, garlic, onions, green beans, cucumber, zucchini, asparagus, brussels sprouts, and mushrooms. Even though mushrooms are not technically a vegetable, we’ll throw them in here.

**Bonus Tip** – There is one drink that when you consume it before a meal, significantly lowers the insulin response of that meal. And that drink is apple cider vinegar!

Studies have shown that taking apple cider vinegar before a meal significantly reduces both the insulin and blood sugar response. Just take one to two tablespoons of apple cider vinegar mixed in with a little bit of water before your meals to get this effect.

**_Make these small changes by being more intentional about the foods you eat and start reversing your insulin resistance!_**
