---
title: 'Treatment of Alzheimer’s disease'
date: 'July 23, 2021'
excerpt: "Alzheimer’s disease is a progressive neurodegenerative disease that leads to symptoms of dementia. Treatment of Alzheimer’s disease is important to manage the disease."
category: 'Health'
tags: [
"alzheimer disease symptoms","alzheimers disease stages","alzheimers disease treatment","cholinesterase inhibitors","dementia","donepezil","health","healthcare","memantine","nmda antagonists","rivastigmine"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/jesse-orrico-rmWtVQN5RzU-unsplash-1-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/jesse-orrico-rmWtVQN5RzU-unsplash-1-scaled.webp'
---

Alzheimer’s disease is a progressive neurodegenerative disease that leads to symptoms of dementia. Treatment of Alzheimer’s disease is important to manage the disease. The [pathophysiology](https://healthootopia.com/health/alzheimers-disease-presentation-symptoms-pathology-and-diagnosis/) of this disease is quite complex and not entirely understood. However, there are currently few different hypotheses that try to explain the cause of Alzheimer’s.

The most popular ones include:

(1) **Cholinergic hypothesis**, which states that a possible cause of Alzheimer’s is the loss of central cholinergic neurons and ensuing deficiency of acetylcholine, a neurotransmitter involved in memory and learning.

(2) **Amyloid hypothesis**, which states that Alzheimer’s may be caused by the accumulation of abnormally folded beta-amyloid proteins. Beta-amyloid is a metabolic waste product present in the fluid between brain cells. In Alzheimer’s disease, beta-amyloid clumps together to form amyloid plaques, which are thought to induce neuroinflammation and disrupt communication between neurons.

(3) Lastly, we have the **Tau hypothesis,** which proposes that Alzheimer’s may result from the abnormal aggregation of Tau proteins that leads to the formation of tangles within nerve cells in the brain. In a healthy brain, the tau protein helps to lengthen and support the microtubule structure. Microtubules play a crucial role in the transport of nutrients and information molecules throughout the neuron. So when Tau dissociates, the microtubule assembly becomes compromised thereby disrupting the neuron’s transport system leading to malfunctions in biochemical communication between neurons.

Now, when it comes to the treatment of Alzheimer’s disease, current therapeutic options are limited to drugs that provide only mild symptomatic benefit.

We can divide those drugs into two classes: (1) cholinesterase inhibitors and (2) NMDA receptor antagonists.

## **_Cholinesterase inhibitors_**

Under normal conditions, cholinergic neurons in the brain, synthesize acetylcholine from acetyl coenzyme A (acetyl CoA) and choline, in a reaction catalyzed by an enzyme choline acetyltransferase (CAT). Upon the arrival of neuronal impulse, synthesized acetylcholine is released into the synaptic cleft where it interacts with acetylcholine receptors located on the postsynaptic neurons. Shortly after, two enzymes, acetylcholinesterase (AChE) and butyrylcholinesterase (BuChE) break down acetylcholine into acetate and choline, thus terminating stimulating signals.

Now, since Alzheimer’s has been linked to a deficiency of acetylcholine in the brain, cholinesterase inhibitors were introduced to alleviate the symptoms of the disease. As their name suggests, cholinesterase inhibitors work simply by inhibiting cholinesterase enzymes from breaking down acetylcholine. Thereby, increasing the level and duration of action of acetylcholine.

The three commonly prescribed cholinesterase inhibitors for the treatment of Alzheimer’s disease are Donepezil, Rivastigmine, and Galantamine.

Out of the three, Rivastigmine is the only one that shows significant inhibition of both acetylcholinesterase and butyrylcholinesterase.

When it comes to side effects, they can range from mild, such as nausea, vomiting, and diarrhea, to potentially serious, such as slow heartbeat, lack of appetite, and substantial weight loss.

## **_NMDA receptor antagonist_**

NMDA receptors belong to the family of ionotropic glutamate receptors, which mediate most of the excitatory synaptic transmission in the brain. They are thought to play an important role in learning and memory formation. Research suggests that beta-amyloid proteins that accumulate in the brain of Alzheimer’s patients may cause an abnormal rise in extrasynaptic glutamate levels by inhibiting glutamate uptake or triggering glutamate release from glial cells.

The binding of glutamate to the NMDA receptor results in an influx of extracellular calcium, which controls membrane excitability and synaptic transmission.  Overstimulation of NMDA receptors can result from an abnormal elevation of glutamate levels. This leads to an excessive influx of calcium, ultimately causing cells to rupture and die.

To address this potential problem, scientists developed an NMDA receptor antagonist called Memantine, which works by blocking NMDA receptors and thus limits calcium influx into the neuron.

Common side effects associated with Memantine include diarrhea, headache, and insomnia.

## **_The future of Alzheimer’s disease treatment_**

Currently available drugs that we discussed so far provide temporary relief of symptoms. However, they do not stop or slow down the underlying neurodegenerative process. This is why new experimental drugs are now being developed to target the root causes of the disease.

One of the major promising targets for future drugs is beta-amyloid. Researchers are investigating agents that may prevent beta-amyloid fragments from clumping into plaques by targeting two enzymes, β-secretase and γ-secretase, which sequentially cut the amyloid precursor protein to generate the pathological beta-amyloid peptides.

Researchers have also been testing [antibodies](https://alzres.biomedcentral.com/articles/10.1186/alzrt220) that bind to beta-amyloid and enhance its clearance from the brain.

The second major target of future therapies is Tau protein, the main component of tangles. Just like with beta-amyloid, antibodies capable of binding and clearing pathological Tau proteins are currently being developed and tested.

Another area of extensive research involves compounds that prevent tau aggregation or dissolve existing aggregates, as well as compounds that inhibit microtubule disassembly.

Now, despite all the optimism surrounding a large pipeline of drugs in clinical trials, so far the field of Alzheimer’s research has been filled with disappointments. Many promising drugs have failed to show significant improvement in slowing down the progression of the disease.

However, there’s always a lot we can learn from failure, and with every failed trial, we find out more about the disease and what might work to stop it.

**Did you find my article “**Treatment of Alzheimer’s disease**” helpful, or know somebody who would? I’d really love it if you could share it.**
