---
title: 'Vulvovaginal Candidiasis-What Your Vaginal Yeast Infection Means'
date: 'February 25, 2022'
excerpt: "Vulvovaginal Candidiasis or vaginal yeast infection is one of the most common reasons why women seek medical care. It is caused by a yeast known as Candida albicans. When it grows excessively on the vulva and in the vagina, it causes quite severe itching and sometimes pain during sexual intercourse."
category: 'Health'
tags: [
"autoimmune disease","Candida albicans","candidiasis","diabetes","diabetes mellitus","exercise","health","hormone replacement therapy","insulin resistance","lupus","obesity","PCOS","postmenopausal women","prediabetes","pregnancy","rheumatoid arthritis","STI","type 2 diabetes","vaginal yeast infection","vulvovaginal candidiasis","weight loss","yeast infection"]
# cover image small 320x320 (width x height)
cover_image: '/images/posts/julien-l-sLrw_Cx6u_I-unsplash-1-scaled.webp'
# banner image large 1080x540 (width x height)
banner_image: '/images/posts/julien-l-sLrw_Cx6u_I-unsplash-1-scaled.webp'
---

Vulvovaginal Candidiasis or vaginal yeast infection is one of the most common reasons why women seek medical care. It is caused by a yeast known as _Candida albicans_. When it grows excessively on the vulva and in the vagina, it causes quite severe itching and sometimes pain during sexual intercourse. There is redness around the vagina and discharge that is typically thick but may be white and watery. It is the second most common vaginal infection after bacterial vaginosis.

It is rare in pre-pubertal girls and relatively infrequent in postmenopausal women unless they are on hormone replacement therapy. Around 70% of women have at least one vaginal yeast infection during the course of their lifetime. _Candida albicans_ is present in different parts of the body including the mouth, colon and vagina. It is considered part of the normal flora.

At any given time 10 to 30% of sexually active women have the yeast present in the vagina. Usually, the infection is transient and sometimes asymptomatic. Often, it is a commensal and doesn’t cause any problems. Unlike candidiasis of other parts, vulvovaginal candidiasis is a disease of immunocompetent and healthy women. While vulvovaginal candidiasis is non-lethal, the sheer enormity of [disease burden](https://pubmed.ncbi.nlm.nih.gov/30078662/) results in approximately $1.8 billion in [medical costs](https://pubmed.ncbi.nlm.nih.gov/10782746/) each year and the economic impact due to lost work hours was recently estimated to reach an additional $1 billion per annum in the US alone.

Vulvovaginal Candidiasis is not really considered a sexually transmitted infection but is more common in people who are sexually active. It can be passed from partner to partner during sex-either oral, vaginal or anal sex. The risk of infection in a male partner of a lady who has a vaginal yeast infection is less than 15%. It typically presents as an itchy red rash on the glans of the penis.

The discharge in vulvovaginal candidiasis is described as a cottage cheese-like discharge. Sometimes it has to be differentiated from a normal discharge which is known as leukorrhea (physiologic discharge) or in postmenopausal women from atrophic vaginitis or from the discharge of contact dermatitis in women who apply cosmetics or lubricants to the area.

## **Risk Factors for Vulvovaginal Candidiasis**

Some lifestyle factors may influence the likelihood of developing this kind of infection. These include:

1\. More frequent with higher sexual frequency

2\. Women who douche because it changes the pH of the vagina and reduces some of the good bacteria

3\. Using genital sprays, spermicides, and intrauterine contraceptive devices (IUDs)

4\. Oral contraceptive pills

5\. A history of allergies might increase the risk

6\. Women with uncontrolled [diabetes](https://healthootopia.com/health/common-infections-in-diabetes/) – The excess sugar in the urine can increase the risk of vulvovaginal yeast infections

7\. Antibiotics, especially the broad-spectrum antibiotics

8\. Steroids like prednisone

9. Pregnancy – Estrogen concentration is increased 30 times and the progesterone concentration increased about ten times in pregnancy. These hormones act to decrease the body’s ability to fight the yeast

10. Obesity

11\. Poor immune function e.g., women with autoimmune diseases like lupus or rheumatoid arthritis or taking medicines that suppress the immune system

Vulvovaginal candidiasis is not related to wearing tight clothing or the type of underwear you wear. The vulva and the vagina have their own unique microbiological niche. In the vagina, we have the lactobacilli which produce some antibacterial substances like hydrogen peroxide, and certain fatty acids that keep the yeast from growing. They maintain the vaginal pH at around 4. Candida cannot grow at this low pH. It requires a higher pH.

## **Which Strains of Candida cause Vulvovaginal Candidiasis?**

_Candida albicans_ accounts for 85 to 90 % of the cases. Non albicans type of Candida accounts for about 15% of yeast infections mainly _Candida glabrata_. In some women who have complicated or recurrent yeast infections, both these species may be found together.

## **What are the Symptoms of Vulvovaginal Candidiasis?**

In the vulva, it causes general soreness and irritation which is often quite severe. With _Candida glabrata_ infection there’s redness, swelling, and sometimes fissures.

In the vagina there’s pain and discomfort during sex (superficial dyspareunia). This discomfort is right at the entrance to the vagina as opposed to the deep discomfort (deep dyspareunia) that’s present with endometriosis. The vagina is red and inflamed. There is pain or discomfort often while urinating.

The vaginal discharge is thick and cottage-cheese like with copious amounts of discharge containing numerous yeast cells but it could be at times absent or mild. In these cases, the discharge may be thin and watery with few organisms even though. The vaginal discharge tends to be odorless as opposed to bacterial vaginosis. Even if the symptoms are limited to the vulva, it means that the vagina is infected.

## **How Does the Yeast Get Into the Vagina?**

It could be from local transport from the area around the genital area, around the anus (perianal spread), through fingers or sexually transmitted.

## **Complications of Vulvovaginal Candidiasis**

If the yeast infection is not treated and allowed to grow out of control it sometimes leads to complications. These include

1\. Pelvic inflammatory disease

2\. Spontaneous abortions

3\. Menstrual abnormalities

4. If a woman is pregnant, the baby coming out through the birth canal infected with the yeast, might contract the yeast and then spread it to the mother’s nipples. The yeast tends to thrive in milk. So within a few days after birth, the mother might complain of flaking or stinging in the nipples, itchy or cracked nipples or pain shooting in the breast after breastfeeding.

## **How Does Candida Cause Infection in the Vagina?**

_Candida albicans_ has a dual life form. It can go from a commensal state where it doesn’t cause any problems to an opportunistic pathogen. When the situation is right it can cause disease. It is usually present in the typical round spore form (Y-form) or it can change into the hyphal form (H-form).

![Yeast forms](/images/posts/bjo12994-fig-0001-m.webp)

<center>
  <small>
    **Scanning electron micrographs of yeast, Y-form (left) and hyphal, H-form
    (right) of Candida albicans** (Cassone A. Vulvovaginal Candida albicans
    infections: pathogenesis, immunity and vaccine prospects. BJOG. 2015
    May;122(6):785-794. doi: 10.1111/1471-0528.12994. Epub 2014 Jul 23. PMID:
    25052208.)
  </small>
</center>

The H-form is aggressive and is able to invade the epithelial cells. It adheres to the epithelial cells and then penetrates the superficial layer. This incites an immune reaction and that’s when symptoms begin.

If we look at vaginal infections, sometimes the microorganisms can form a biofilm. It is a mass that makes its own protective lining. The biofilm makes it difficult for medicines to penetrate and reach the site of infection. The presence of biofilms can lead to some of these recurrences. We don’t know exactly how important the biofilms are in vaginal yeast infections but they are very important in many other kinds of infections.

The H-form of the yeast secretes aspartyl protease. This enzyme has a role in adhesion and invasion. It prevents the body’s immune system from acting on the yeast.

## **Treatment of Vulvovaginal Candidiasis**

Unfortunately, because of the widespread availability of over-the-counter medicines and because women frequently misidentify the cause of their vaginal infections, they use the medicines randomly.

This excessive exposure has led to an increase in the resistance of _Candida albicans_ to the standard medicines. _Candida glabrata_ and some of the other non-albicans types of Candida are inherently quite resistant to the standard medicines that we use.

The goal of treatment is to eliminate the symptoms and to kill the yeast. Even if we have negative yeast cultures from vaginal swabs doesn’t mean the woman is cured in the long term.

### **Treatment of Uncomplicated Vulvovaginal Candidiasis**

Short-term local therapy or single-dose oral treatment is effective for treating 90% of uncomplicated cases. Short-term therapy of up to 3 days with local azoles (clotrimazole, butoconazole, and miconazole) in the form of suppositories is recommended and the symptoms usually disappear after 2 to 3 days. This treatment is effective in 80 to 90% of cases.

An alternative to local therapy is oral treatment with single-dose 150 mg fluconazole. The patients should be warned that the symptoms may last up to 3 days following the oral dose.

### **Treatment of Complicated and Recurrent Vulvovaginal Candidiasis**

Complicated cases require prolonged treatment. Oral fluconazole can be given three times every 72 hours or local azoles applied daily for at least 1 week.

Recurrent cases are treated initially with three 150 mg doses of fluconazole every 72 hours followed by weekly doses of fluconazole for 6 months.

Therapy with azoles is less effective in treating non–_C. albicans_ vulvovaginitis.

In cases not responding to treatment, the diagnosis has to be evaluated again and bacterial vaginosis**,** and trichomonas infection have to be excluded.

Few vaccines against Candida are under development.

**Did you find my article **“Vulvovaginal Candidiasis-What Your Vaginal Yeast Infection Means**” helpful or know somebody who would? I’d really love it if you could share it.**
